body {
    background: white;
}

#main {
    background-color: lightgray;
    display: block;
    margin: 50px auto;
    padding-top: 50px;
}

#title {}

#img-div {
    display: block;
    width: 200px;
}

#image {
    width: 150px;
    max-width: 100p%;
    display: block;
    height: auto;
}

#img-caption {}

#tribute-info {}

#quote {}