body {
    background: white;
}

#main {
    background-color: lightgrey;
    display: block;
    margin: auto;
    padding: 20px 20px;
    align-items: center;
}

#title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
}

#title h1 {
    font-size: 48px;
    margin: auto;
    padding: 30px;
}

#title p {
    font-size: 16px;
    margin: auto;
    padding-bottom: 20px;
}

#img-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    background-color: white;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    padding: 50px 80px 20px 80px;
    margin: auto;
}

#img-div p {
    font-size: 16px;
    margin: auto;
    padding-bottom: 25px;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
}

#tribute-info h2 {
    font-size: 16px;
    padding: 50px;
    margin: auto;
}

#tribute-info ul {
    margin: auto;
}

#quote{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    width: 400px;
    margin: auto;
}

#quote p, span {
    font-size: 16px;
    margin: auto;
}